{% extends "base.html" %}
{% load badge_change_filter %}

{% block content %}
    <div class="container" style="padding-top: 10%">
        {% if not data %}
                <h1 class="display-3">No company found</h1>
        {% endif %}
        {% for company in data %}
            <div style="padding-top: 2%;">
                <div class="card text-center">
                    <div class="card-header">
                      <h4 class="card-title">{{ company.name|upper }}</h4>
                    </div>
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item justify-content-between bg-faded">
                                    <strong>Year</strong>
                                    <strong>CA</strong>
                                    <strong>Margin</strong>
                                    <strong>Loss</strong>
                                    <strong>EBITDA</strong>
                            </li>
                            {% for result in company.results %}
                        <li class="list-group-item justify-content-between">
                            <strong class="text-muted">{{ result.date|date:'Y' }}</strong>
                            <div>
                                {{ result.ca }}
                                {% if result.previous %}
                                    {{ result.ca|badge_change:result.previous.ca }}
                                {% else %}
                                    <span class="badge badge-info badge-pill">0</span>
                                {% endif %}
                            </div>
                            <div>
                                {{ result.margin }}
                                {% if result.previous %}
                                    {{ result.margin|badge_change:result.previous.margin }}
                                {% else %}
                                    <span class="badge badge-info badge-pill">0</span>
                                {% endif %}
                            </div>
                            <div>
                                {{ result.loss }}
                                {% if result.previous %}
                                    {{ result.loss|badge_change:result.previous.loss }}
                                {% else %}
                                    <span class="badge badge-info badge-pill">0</span>
                                {% endif %}
                            </div>
                            <div>
                                {{ result.ebitda }}
                                {% if result.previous %}
                                    {{ result.ebitda|badge_change:result.previous.ebitda }}
                                {% else %}
                                    <span class="badge badge-info badge-pill">0</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                          <strong>Sector:</strong> {{ company.sector }}  --  <strong>Siren:</strong> {{ company.siren }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}